/* add css styles here (optional) */
.searchbar-collection-container{
  border:1px solid gray;
  border-radius: 5px;
  display: inline-flex;
  font-size:20px; 
  width:100%;
}
.searchbar-container{
  display: flex;
  flex: 0 0 80%;
}
.searchbar-input {
  border:0px;
  padding:10px;
  width:100%
}
.searchbar-buttons-container{
 width:20%;
 display:flex;
 justify-content: flex-end;
}
.buttons{
  background: transparent;
  border:0px;
  padding:10px;
  cursor:pointer;
}
